:3000 {
    # Reverse proxy for /api
    reverse_proxy /api/* http://localhost:8080 {
        header_up X-Forwarded-Host {host}:{server_port}
        header_up X-Forwarded-For {remote_host}
        header_up X-Forwarded-Proto {scheme}
    }

    # Reverse proxy for all other requests
    reverse_proxy http://localhost:3333 {
        header_up X-Forwarded-Host {host}:{server_port}
        header_up X-Forwarded-For {remote_host}
        header_up X-Forwarded-Proto {scheme}
    }
}
